[submodule "third_party/tree-sitter"]
	path = third_party/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "third_party/tree-sitter-cpp"]
	path = third_party/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "third_party/libvterm"]
	path = third_party/libvterm
	url = https://github.com/neovim/libvterm.git
